
@{
    Layout = null;
}

@model IEnumerable<MvcDemo.ViewModels.Models.SysUser>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hello My Name Is Index~~
    </div>
    <div>
        <p>@Html.ActionLink("Create New", "Create")</p>
    </div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</body>
</html>
